
  <ion-toolbar class="custom-toolbar">
    <ion-searchbar ngModel="{{searchTerm}}" (ionInput)="search($event)" placeholder="Type your search here"></ion-searchbar>
  </ion-toolbar>
<ion-content [fullscreen]="true" class="custom-content">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" class="ion-no-padding" *ngFor="let image of images">
          <ion-card class="custom-card ion-text-center" >
            <ion-card-header>
              <ion-card-title>{{ image.author }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="image-container">
              <ion-thumbnail class="circle-thumbnail">
                <img [src]="image.photo" alt="Image" loading="lazy">
              </ion-thumbnail>

              <p>{{ image.text }}</p>
              <ion-buttons slot="end">
                <ion-icon
                  name="star"
                  class="favorite-icon"
                  [style.color]="colorByImage[image.id] || 'grey'"
                  (click)="toggleFavorite(image)">
                </ion-icon>

              </ion-buttons>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!--  id="image{{image.id}}"-->
